@import '~style/main';

.project-column {
    padding-top: 12px !important;
    padding-bottom: 10px !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
};

.project-row {
    min-height: 48px !important;
    height: unset !important;
    color: rgba(0, 0, 0, 0.87) !important;
    &:hover {
        text-decoration: none !important;
    }
};

.project-overview {
    &-filter {
        background-color: $primary-color;
        padding: 20px;
    }
}